body
{
    /* background-image: url('images/background.jpeg'); */
    background-image: url('background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(0, 0, 0); */
    padding: 25rem 0rem;
}
form
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}
h1
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
}
