body
{
    /* background-image: url('images/background.jpeg'); */
    background-image: url('images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(10 79 116);
    padding: 25rem 0rem;
    /* height: cover; */
}
form
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    z-index: 1;
}
h1
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
}
img
{
    position: absolute;
    top: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 3;
}